{% extends "base.html" %}

{% block title %}Search{% endblock %}
{% block content %}
<div id="hello">
    <div class="container">

        <div class="row">
            <form action="/results/" method="get">

                <div class="col-sm-4 col-sm-offset-2 centered">
                    <div class="form-group">
                        <label for="id_university">Your current University:</label>
                        <input id="id_university" maxlength="100" name="university" type="text" class="form-control" placeholder="'University of Western Australia'">
                    </div>
                </div>
                <div class="col-sm-4 centered">
                    <div class="form-group">
                        <label for="id_unit">Unit you would like to match:</label>
                        <input id="id_unit" maxlength="100" name="unit" type="text" class="form-control" placeholder="'CITS3200'">
                    </div>
                </div>
                <div class="col-sm-8 col-sm-offset-2 centered">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-block button-search" value="Search">
                    </div>
                </div>
            </form>
        </div> <!-- row -->

    </div> <!-- container -->
</div><!-- hello -->


<script>
$(function() {
    var availableTags = [
      "Aalto University",
      "Aarhus University",
      "Albert-Ludwigs University, Freiburg",
      "Auburn University",
      "Bader International Study Centre at Herstmonceaux Castle (Queens University)",
      "Beijing Language and Culture University",
      "Bellarmine University",
      "Bergen University College",
      "Bocconi University",
      "Boston College",
      "Cardiff University",
      "Carleton University",
      "Catholic University of the Sacred Heart",
      "Charles de Gaulle (Lille 3) University",
      "China University of Mining Technology",
      "Chulalongkorn University",
      "Chuo University",
      "City University of Hong Kong",
      "Colorado State University",
      "Comillas Pontifical University",
      "Copenhagen Business School",
      "Dalhousie University",
      "Durham University",
      "Eberhard-Karls University, Tubingen",
      "ESC Dijon Burgundy Business School",
      "ESSEC Business School",
      "Free University of Berlin",
      "Fudan University",
      "Ghent University",
      "Harbin Institute of Technology",
      "HEC Montreal",
      "Heinrich Heine University",
      "Hong Kong Polytechnic University",
      "Humboldt University",
      "IE University",
      "Indiana University",
      "Iowa State University",
      "Jean Moulin Lyon, 3",
      "Kansai Gaidai University",
      "Kansas State University",
      "Kingston University London",
      "Kobe University",
      "Korea University",
      "Kwansei Gakuin University",
      "Laval University",
      "Loughborough University",
      "Ludwig Maximilian University of Munich",
      "Lund University",
      "Maastricht University",
      "Malardalen University",
      "Manchester Business School",
      "McGill University",
      "McMaster University",
      "Montana State University",
      "Nagoya University",
      "Nanjing University",
      "Nanyang Technological University",
      "National University of Singapore",
      "North Carolina State University",
      "Norwegian School of Economics (NHH)",
      "Norwegian University of Life Sciences (NMBU)",
      "Norwegian University of Science and Technology",
      "Oita University",
      "Okayama University",
      "Otterbein University",
      "Pacific University",
      "Peking University",
      "Pennsylvania State University",
      "Politechnic of Milan",
      "Pontifica Universidad Catolica De Chile",
      "Presbyterian College",
      "Purdue University",
      "Queen Mary, University of London",
      "Queens University",
      "Radboud University Nijmegen",
      "Renmin University",
      "Rice University",
      "Ritsumeikan Asia Pacific University",
      "Ritsumeikan University Kyoto",
      "Royal Holloway, University of London",
      "RWTH Aachen",
      "Sciences Po -  Lille",
      "Sciences Po - Grenoble",
      "Sciences Po - Paris",
      "Seoul National University",
      "Shanghai Jiao Tong University",
      "Simon Fraser University",
      "Singapore Management University",
      "Sogang University",
      "Sophia University",
      "State University of New York at Brockport",
      "Stockholm University",
      "Sungkyunkwan University",
      "Technical University Denmark",
      "Tel Aviv University",
      "The Chinese University of Hong Kong",
      "Tilburg University",
      "Tsinghua University",
      "Universidad de Montevideo",
      "Universidade Estadual de Campinas",
      "Universita della Svizzera Italiana",
      "University College Dublin",
      "University College London",
      "University College Maastricht",
      "University Grenoble Alpes",
      "University of Aberdeen",
      "University of Alabama at Birmingham",
      "University of Alberta",
      "University of Arizona",
      "University of Bath",
      "University of Bergen",
      "University of Bologna",
      "University of Bristol",
      "University of British Columbia",
      "University of Calgary",
      "University of Copenhagen",
      "University of Essex",
      "University of Exeter",
      "University of Ferrara",
      "University of Glasgow",
      "University of Helsinki",
      "University of Hong Kong",
      "University of Illinois at Urbana Champaign",
      "University of Leeds",
      "University of Leicester",
      "University of Limoges",
      "University of Manchester",
      "University of Maryland",
      "University of Montana",
      "University of Montreal",
      "University of New Mexico",
      "University of Notre Dame du Lac",
      "University of Nottingham",
      "University of Oslo",
      "University of Otago",
      "University of Ottawa",
      "University of Passau",
      "University of Pennsylvania",
      "University of Pierre and Marie Curie",
      "University of Rochester",
      "University of Sains Malaysia",
      "University of Science and Technology China",
      "University of Sheffield",
      "University of South Dakota",
      "University of Southampton",
      "University of St Gallen",
      "University of Stavanger",
      "University of Strasbourg",
      "University of Stuttgart",
      "University of Sussex",
      "University of Texas at Austin",
      "University of Toronto",
      "University of Vermont",
      "University of Vienna",
      "University of Washington",
      "University of Waterloo",
      "University of West Alabama",
      "University of Western Australia",
      "University of York",
      "University of Zurich",
      "University Sorbonne Nouvelle (Paris 3)",
      "Uppsala University",
      "Utrecht University",
      "Utrecht University School of Economics",
      "Vienna University of Economics and Business Administration",
      "Vrije University",
      "Western University",
      "WHU Otto Beisheim School of Management",
      "Willamette University",
      "Xi'an Jiaotong University",
      "Xiamen University",
      "Yonsei University",
      "Zhejiang University"

    ];
    $( "#id_university" ).autocomplete({
      source: availableTags
    });
  });
</script>
{% endblock %}