{% extends "base.html" %}

{% block title %}Search{% endblock %}
{% block content %}
<div id="hello">
  <div class="container">
    <div class="row">
    	<div class="col-md-6 nopadding">
            <div class="form-group">
                <form action="/results/" method="get">
                    {{ form }}
                    <input type="submit" class="btn btn-primary btn-block button-search" value="Search">
                    <!--<a href="results"><button type="submit" class="btn btn-primary btn-block button-search">Search</button></a>-->
                </form>
            </div>
        </div>
            </div> <!-- row -->
	</div><!-- hello -->
</div>
{% endblock %}